#################################################################################
# Add items to be ignored below                                                 #
#################################################################################

# Flare
*/Project/Users/
*/Project/Reports/*.mclog
*/Project/Exports/
*/Analyzer/
*/Output/
*/FileSync/
/Analyzer/
/Output/
/FileSync/
*/Users/
/Users/
/.vscode/
*.DS_Store